$sans-serif-heading: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, sans-serif;
$sans-serif-body: $sans-serif-heading;

$color-background: #FFF; // Keep in sync with "theme-color" meta property in base.html!
$color-foreground: #07284F;
$color-foreground-product-name: #07284F;
$color-heading3: #1473E6;
$color-link-underline: rgba($color-foreground, 0.4);
$color-link-on-hover: #1473E6;
$color-code-background: rgba(255, 255, 255, 0.1);
$color-text-highlight: rgba($color-heading3, 0.25);

@import 'viewports';
@import 'base';
@import 'index';
