{% extends "base.html" %}

{% block content %}
<section class="header">
  <a href="https://github.com/paolovalerdi/buapp-landing-page" target="_blank">Fork this website</a>
</section>

<main>
  <div class="column left">
    <img src="{{ get_url(path='images/app_screenshots.png') }}" class="app_screenshots" alt="App screenshots"/>
  </div>
  <div class="column separator"></div>
  <div class="column right">
    <img src="{{ get_url(path='images/app_icon.png') }}" width="48px" alt="App icon"/>
    <section>
      <h1><span class="heading">BUAPP</span>, una mejor aplicación para los universitarios</h1>

      <h3>Manténte al día</h3>
      Enterate de lo que sucede en la universidad con las noticias más recientes siempre.

      <h3>Constula tu horario</h3>
      Planea tu día, ve donde y a qué hora que clases tienes, incluso sin conexión a internet. 

      <h3>Revisa tu historial academico</h3>
      Obten tus calificaciones, conoce tus promedios y créditos obtenidos en cada semestre.
    </section>

    <!--<section class="google_play_badge">
      <a href="https://play.google.com/store/apps/details?id=wtf.paolovalerdi.buapp" target="_blank">
        <img width="260px" src="{{ get_url(path='images/play_store_badge.png') }}" alt="Descarga desde la Google Play Store"/>
      </a>
    </section>-->

    <h1>¡Próximamente!</h1>

    <section class="footer">
      <a href="https://twitter.com/paolovalerdi" target="_blank">Sigueme en Twitter</a> para mantenerte al tanto de las actualizaciones.<br>
      Agradecimientos especiales a <a href="https://twitter.com/erikbucik">Erik Bucik</a> por su maravilloso trabajo diseñando esta aplicación.
    </section>
  </div>
</main>

{% endblock content %}
